*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* .offset{
    /* display: block;
    content: "";
    height: 10rem;
    margin-top: -2rem; 
    background: transparent;
    z-index: -10; 
    scroll-snap-align: start;
}  */
h2{
    font-size: 6rem;
    line-height: 7.5rem;
    color: #fff;
    font-weight: 600;
}
h3{
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 600;
    color:#1F2D4C;
}
h4{
    font-size: 2.8rem;
    line-height: 4rem;
     color:#1F2D4C;
}
h6{
    font-size: 2.2rem;
    line-height: 3.2rem;
    color:#1F2D4C;
    margin-top: 1.6rem;
    font-weight: normal;
}
p, span{
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #1F2D4C;
}
.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    font-size: 1.6rem;
    padding: 0 2em;
    color:#1F2D4C;
    line-height: 4.8rem;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    z-index: 5;
}

/* ===================================== HEADER ===================== */
 nav{
    /* padding: 0 3rem; */
    width: 100%;
    /* max-width: 140rem; */
    /* height: 10rem; */
    position: fixed;
    z-index: 1000;
}  
.top-nav{
    margin: 0;
    height: 3.5rem; 
    background: white;
    width: 100%;
}

.top-nav div{
    display: flex;
    justify-content: space-around;

  
}
.top-nav a{
    padding: 0 0.5rem;
    color: #000;
}
.top-nav i{
    font-size: 1.8rem;
    margin: 0 0.7rem;
    color: #1F2D4C;
}
.nav{
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 6rem;
    line-height: 6rem; */
    padding: 1rem 8rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 1000;
}
.nav.scrolled{
    background: linear-gradient(90deg, rgba(31,45,76,1) 10%, rgba(0,0,0, 1) 50%, rgba(45,77,99,1) 90%) !important;
    transition: background-color 200ms linear;
    box-shadow: 0.7rem 1rem 1.5rem rgba(0,0,0,0,0.3);
}
.nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;
}
.nav .navbar-toggler .toggler-icon{
    width: 2.7rem;
    height: 0.3rem;
    background-color: #121212;
    margin: 0.5rem 0;
    position: relative;
    display: block;
    transition: all 0.3s ease-out 0s;
}
.nav .flex-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .logo img,
footer .logo img{
    height: 90px;
}
.nav .menu-bar .menu-items li{
    margin: 0 1.5rem;
}
.nav .menu-bar .menu-items li a{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
.nav .menu-bar .menu-items li a:hover{
    color: #19DDFF;
}
.nav .navbar-social span{
    font-size: 1.8rem;
    font-weight: 600;
    color: #19DDFF;
    padding-right: 1rem;
}
.nav .navbar-social ul li{
    margin: 0 0.7rem;
}
.nav .navbar-social ul li a{
    color: #19DDFF;
    font-size: 2.2rem;
}

/* =======================MAIN SECTION ============================== */
.back{
    background-image: url(images/8.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
    height: 120vh;
    width: 100%; 
}
.back .overlay{
    /* background: linear-gradient(90deg, rgba(0,8,9,0.9) 0%, rgba(0,0,0,0.75) 22%, rgba(0,21,24,0.8) 100%); */
    background: linear-gradient(90deg, rgba(31,45,76,0.9) 10%, rgba(0,0,0, 0.75) 50%, rgba(45,77,99,0.8) 90%);

    height: 100%;
} 
.back .hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.back .hero-shape img{
    display: block;
    width: 100%;
}
.hero-text{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-text h6{
    color: #0AC9B2;
}
.hero-text .hero-btn{
    margin-top: 2.2rem;
}
.hero-text .hero-btn li{
    display: inline-block;
    margin: 1rem 1rem 0 0;

}
.hero-text .hero-btn li a.main-btn{
    border-radius: 5rem;
    overflow: hidden;
    border:0;
    line-height: 5rem;
    background-color: #fff;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0,0.3);
}
.hero-text .hero-btn .btn-one:hover{
    background: transparent;
    color: #0AC9B2;
    outline: 1px solid #0AC9B2;
    box-shadow: 0 0.3rem 2.5rem 0 rgba(0,0,0,0,0.6);
}
/* .hero-text .hero-btn .btn-two{
    color: #000;
}  */
.hero-text .hero-btn .btn-two::before{
    position:absolute;
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-image: linear-gradient(to right,#0AC9B2, #0097B2);z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;

}
.hero-text .hero-btn .btn-two:hover::before{
    background-image: linear-gradient(to left, #0AC9B2, #0097B2);
    background-position: left center;
}

/* ===================== SEERVICES SECTION ========================== */
.wrapper{
    max-width: 140rem;
    margin: 7rem auto;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 7rem;
    margin-bottom: 4rem;
}
.services .agency-name{
    color: #0A7AC9; 
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 600;
}
.services > .service-content{
    display: flex;
    flex-direction: column;
        justify-content: center;
    align-items: center;
    margin: 6rem 0;
    padding: 2rem;
    margin-bottom: 5rem;
    /* flex-wrap: wrap; */
    
}
.services .service-content .content-image{
    width: 75%;
    
}
.services .service-content .content-image img{
    width: 100%;
    height: 40vh;
    
}
.services .service-content .content-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap; 
}
.services .service-content .content-box .box-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    padding: 3rem 2rem;
    flex-basis: calc(50% - 2rem);
    margin-bottom: 0;
}
.services .service-content .content-box .box-one .service-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3.2rem;
    padding:3rem;
    padding-right: 2rem;
    /* box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 151, 178, 0.4); */
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(5, 176, 178, 0.4);
}
.services .service-content .content-box .box-one .last-row{
    flex-basis: 100%;
}
.services .service-content .content-box .box-one:last-child {
    flex-basis: 100%;
    margin-top: 0;
    padding-top: 0;
    padding: 0 15%;
    
  }
.services .service-content .content-box .box-one .service-item i{
    /* color: #5E89E5; */
    color: #0A7AC9;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.services .service-content .content-box .box-one .service-item h4{
    color:#0A7AC9; 
    margin-bottom: 1rem;
}
.services .service-content .content-box .box-one .service-item .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

/*================= CALL TO ACTION ========================*/
.call-to-act{
    /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #910AFA), url(images/8.jpg); */
    background: linear-gradient(to right, rgba(31,45,76,0.8), rgba(45,77,99,0.8)), url(images/8.jpg);
    min-height: 50rem;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    margin:0;
    margin-bottom: 10rem;
}
.call-to-act .parallax{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.call-to-act .parallax h3, 
.call-to-act .parallax p{
    color: #fff;
}
.call-to-act .parallax h3{
    font-size: 5.5rem;
    line-height: 6.5rem;
} 
.call-to-act .parallax p{
    font-size: 2rem;
    line-height: 3rem;
    padding: 2.5rem 0;
} 
.call-to-act .parallax i{
    color:#000;
    padding-right: 1rem;
    font-size: 2rem;
}
.call-to-act .parallax .main-btn{
    border-radius: 5rem;
    overflow: hidden;
    border:0;
    line-height: 5rem;
    background-color: #fff;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0,0.3);
}
.call-to-act .parallax .main-btn:hover{
    background: transparent;
    
    outline: 1px solid #fff;
    box-shadow: 0 0.3rem 2.5rem 0 rgba(0,0,0,0,0.6);
}
.call-to-act .parallax .main-btn a,
.call-to-act .parallax .main-btn i{
    color: #1F2D4C;
}
.call-to-act .parallax .main-btn:hover a,
.call-to-act .parallax .main-btn:hover i{
    color: #fff;
}

/* ================== PRICING SSECTION ================== */
.pricing{
    display: block;
    text-align: center;
    margin-bottom: 10rem;
}
.pricing h6{
    margin-bottom: 4rem;

}
.pricing .table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}
.pricing .basic{
    width: 37rem;
    height: 100%;
    border: 1px solid #0AC9B2;
    border-radius: 2rem;
}
.pricing .basic .basic-head{
    padding: 4rem 0;
    background-color:  #E4F6F2;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.pricing .basic:hover .basic-head,
.pricing .standard .basic-head{
    background-image: linear-gradient(to right, #0AC9B2, #0097B2);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

}
.pricing .basic h4{
    text-align: center;
    font-weight: 300;
    
}
.pricing .basic span{
    opacity: 0.8;
    font-size: 1.6rem;
} 
.pricing .basic .price{
    text-align: center;
    display: block;
    padding: 2rem 0;
    
}
.pricing .basic .price .sign{
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;

}
.pricing .basic .price .currency{
    font-size: 4rem;
    letter-spacing: -0.2rem;
    line-height: 4rem;
    padding: 0;
    vertical-align: middle;  
    color: #0A7AC9;;

}
.pricing .basic .price .product{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    vertical-align: bottom;
    letter-spacing: 0.1rem;
}
.pricing .basic ul{
   padding: 2rem 0 ;
}
.pricing .basic ul li{
    border-top: 0.5px solid #4AD2C2;
    border-bottom: 0.5px solid #4AD2C2;
    /* padding: 1rem 0; */
    color: #0A7AC9;
    text-align: left;
    padding:1.5em 4rem;
    font-size: 1.4rem;

}
.pricing .basic ul li i{
    padding-right: 1.5rem;
    color: #0A7AC9;
}
.pricing .table .hero-btn {
    margin: 3.2rem auto;
    width: 20rem;
}
.pricing .table .price-btn a{
    margin: 3.2rem auto;
    margin-top: 2rem;
    width: 20rem;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 5rem;
    outline: medium none;
    border: 1px solid #0AC9B2;
    background-color: #ecf0f1;
}
.pricing .table .basic:hover .price-btn a{
    background-image: linear-gradient(to right, #0097B2, #0AC9B2);
    border: 1px solid #0AC9B2;
    color:#1F2D4C;
}

.pricing .table .standard .price-btn a{
    background-image: linear-gradient(to right, #0AC9B2, #0097B2);
    border: 1px solid #0AC9B2;
    color:#1F2D4C;
}

/*==================CONTACT US ================================*/

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(5, 176, 178, 0.4);
    
}
.contact .form{
    width: 80%;
    margin-top: 4rem;

}
.contact .form .title{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5rem;
    background-image: linear-gradient(to right, #0AC9B2, #0097B2 );
}
.contact .form .description{
    padding: 2rem 4rem 2rem 0;
    text-align: center;
    background-color: #E4F6F2;
    margin-top: 0;
}
.contact .form h6{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}
.contact .form h4{
    font-size: 2.4rem;
    line-height: 3rem;
}
.contact .form h3{
    font-size: 4.5rem;
    line-height: 4.5rem;
}
.contact .form label{
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: left;
    /* padding-right: 2rem; */
}
.contact .form .first-row,
.contact .form .second-row,
.contact .form .third-row,
.contact .form .check-service{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.4rem 0;
}

.contact .form .check-service{
    justify-content: space-around;
}
.contact .form .check-service label{
    padding-left: 1rem;
}
.contact .form .first-row div,
.contact .form .second-row div,
.contact .form .third-row div{
   
    width: 90%;
    height: 8rem;
}
.contact .form .first-row input,
.contact .form .second-row input,
.contact .form .third-row input,
.contact .form  div select{
    height: 4rem;
    border: 1px solid #cbced1;
    /* border-radius : 0.5rem; */
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    outline: none;
    width: 80%;
    margin-top: 1rem;
}
.contact .form  div select{
    padding-left: 0;
}
.contact .form textarea{
    width: 100%;
    resize: none;
    border: 1px solid #cbced1;
    border-radius : 0.5rem;
    padding: 0 2.5rem;
    font-size: 1.6rem;
    outline: none;
    font-family: "Poppins" sans-serif;
    padding-top: 1.5rem;
}
.contact .form .hero-btn{
    margin: 3rem auto;
    width: 15rem;
}
.contact .form .hero-btn a{
    background-image: linear-gradient(to right, #0AC9B2, #0097B2 );
    border: none;
    border-radius: 3rem;
    outline: none;
    font-weight: normal;
    font-size: 1.8rem;
    color: #1F2D4C;
}
.contact .form .hero-btn:hover a{
    background: transparent;
    outline: 1px solid #1F2D4C;
}

/* ========================= MODAL SECTION ========================= */

.modal {
    display: none;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    overflow: auto;
   
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    max-width: 90%;
    margin: 1rem auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    max-height: 100vh;   
    padding: 3rem 1rem;
    overflow-y: auto;
    position: relative;
    
}
.modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #1F2D4C;;
    cursor: pointer;
    background-image: linear-gradient(to right, #0AC9B2, #0097B2);
    border: 1px solid #0AC9B2;
    padding: 1rem 1.5rem;
  }
  
  .modal-content .close:hover {
    color: #666;
  }
  .modal-content img {
    width: 35%;
    height: 40vh;
    align-self: center;
  }

  .modal .modal-content .form {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem ;
    margin-top: 2rem;
    padding: 5% 2%;
    /* padding-left: 5rem; */
    width: 60%;
    box-shadow: 0 0.1rem 9.5rem 0.2rem rgba(5, 176, 178, 0.4);
  }
  .modal .modal-content .form .row,
  .modal-content .form .check-service{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.modal-content .form .row div{
       width: 100%;
    height: 5rem;
}
.modal-content .form .row input,
.modal-content .form  div select{
    height: 2rem;
    border: 1px solid #cbced1;
    /* border-radius : 0.5rem; */
    padding: 0 1.5rem;
    font-size: 1.2rem;
    outline: none;
    width: 80%;
    margin-top: 1rem;
}
.modal-content .form  div select option,
.modal-content .form  p{
    font-size: 1.4rem;
    font-weight: 600px;
}
.modal-content .form  h6{
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.modal-content .form  h4{
    font-size: 1.6rem;
}
.modal-content .form  h3{
    font-size: 2.2rem;
    line-height: 2rem;
    color: white;
}
.modal .form .title{
    margin-bottom: 1rem;
    background: linear-gradient(90deg, rgba(31,45,76,1) 10%, rgba(0,0,0, 0.9) 50%, rgba(45,77,99,1) 90%);
    padding: 2rem 2%;
    
   
}
.modal .form .title h6,
.modal .form .title p{
    color: white;
}
.modal .form .description{
    
    background-color:  #E4F6F2;
}


.modal .form label{
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: left;
    padding-right: 2rem;
}
.modal .form  div select{
    padding-left: 0;
}
.modal .form textarea{
    width: 100%;
    resize: none;
    border: 1px solid #cbced1;
    border-radius : 0.5rem;
    padding: 0 2.5rem;
    margin-top: 1rem;
    outline: none;
    
    padding-top: 1.5rem;
}
.modal .form textarea::placeholder {
    font-family: "Poppins" sans-serif;
    font-size: 1rem;
  }
.modal .form .hero-btn{
    margin: 3rem auto;
    width: 10rem;
}
.modal .form .hero-btn a{
    background: linear-gradient(90deg, rgba(31,45,76,1) 10%, rgba(0,0,0, 0.9) 50%, rgba(45,77,99,1) 90%);
    border: none;
    border-radius: 3rem;
    outline: none;
    font-weight: normal;
    font-size: 1.4rem;
    color: white;
    padding: 0.1rem 4rem;
}
.modal .form .hero-btn:hover a{
    background: transparent;
    outline: 1px solid #1F2D4C;
}


/* ========================= FOOTER ============================= */
footer {
    background-color: #1C061A;
    background: linear-gradient(90deg, rgba(31,45,76,1) 10%, rgba(0,0,0, 0.9) 50%, rgba(45,77,99,1) 90%);
    color: white;
    text-align: center;
    padding: 8rem;
}
footer .row-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer .row-one ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer .row-one a{
    color: #fff;
    font-size: 3rem;
    padding-right: 3rem;;
}
footer p{
    color: #fff;
    font-size: 1.6rem;
    margin-top: 3rem;
}

/* ======================= MEDIA QUERIES ============================ */
@media only screen and (max-width: 946px){
    .nav{
        padding: 1.6rem 8rem;
    }
    .nav .navbar-social span{
        display: none;
    }
    .hero-text{
       width: 60%;
       bottom: 25%;
    }
    
    .hero-text h2{
        font-size: 5rem;
        line-height: 6rem;
    }
    .wrapper{
        max-width: 80rem;
    }
    .services h6{
        margin-bottom: 4rem;
    }
    .services .service-content .content-image img{
        height: 25vh;
        
    }
   
    .pricing .table{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .pricing .basic{
        margin-bottom: 4rem;
    }

    .call-to-act{
        margin-bottom: 10rem;
    }
    .call-to-act .parallax{
        width: 70%;
    }
    .call-to-act .parallax h3{
        font-size: 4rem;
        line-height: 5.5rem;
    } 
   
    .contact .form{
        width: 80%;
    }
    
    
    
  
}
@media only screen and (max-width: 774px){
    
    .nav{
      
        padding: 1rem 2rem;
        align-items: flex-start;
       
    }
 
    .nav .navbar-toggler{
        display: block;
        position: absolute;
        top: 2.6rem;
        right: 3rem;
        z-index: 100000;
    }
    .nav .navbar-toggler .toggler-icon{
        width: 2.7rem;
        height: 0.3rem;
        background-color: #fff;
        margin: 0.5rem 0;
        position: relative;
        display: block;
        transition: all 0.3s ease-out 0s;
    }
    .nav .menu-bar{
        position: fixed;
        top: 3.5rem;
       right: -36rem;
        width: 36rem;
        height: 100vh;
        background-color: rgba(255,255,255,0.9);
        /* background: linear-gradient(90deg, rgba(31,45,76,1) 10%, rgba(0,0,0, 0.9) 50%, rgba(45,77,99,1) 90%); */
        transition: all 0.6s ease;
    }
    .nav .menu-bar .menu-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 8rem 0;
        
     
    }
    .nav .menu-bar .menu-items li{
        margin: 2rem 3rem;
        border-bottom: 0.5px solid #1F2D4C;
        width: 70%;
        text-align: center;
        padding: 2rem;
        
        
    }
    .nav .menu-bar .menu-items li a{
        color:#1F2D4C;
        
    }
    .nav .navbar-social{
        margin-right: 6rem;
        /* margin-top: 70vh; */
        z-index: 100000;
        position: fixed;
        top: 80vh;
        right: -36rem;
    }
    .nav .navbar-social ul li{
        margin: 0 2rem;
    }
    .nav .navbar-social ul li a i{
        color:#1F2D4C;
    }

    /* .back{
        background-size: contain;
        background-repeat: no-repeat;
        height: 110vh;
    } */

    .hero-text{
        width: 80%;
        bottom: 50%;
     }
     
     .hero-text h6{
         font-size: 1.8rem;
         line-height: 3.2rem;
     }

     .wrapper{
        margin: 4rem 1.5rem 10rem 1.5rem;
    }
    /* .services{
        padding: 1rem;
    } */
    .services .service-content .content-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        /* flex-wrap: wrap; */
    }
    .services .service-content .content-box .box-one .service-item,
    .services .service-content .content-box .box-one:last-child {
       
        padding:2rem;
        padding-left: 3rem;
       
        box-shadow: 0 0.3rem 0.5rem 0.3rem rgba(5, 176, 178, 0.4);
    }

       
        
      
    .services h3{
        font-size: 4rem;
        line-height: 5rem;
    }
    .services h4,
    .services i{
        font-size: 3rem;
        line-height: 4rem;
    }
    .services h6{
        font-size: 1.8rem;
        line-height: 3rem;
        margin-bottom: 4rem;
    }
    .services .service-content .content-image img{
        height: 25vh;
        
    }

    .pricing h3{
        font-size: 4rem;
        line-height: 5rem;
    }
    .pricing h6{
        font-size: 1.8rem;
        line-height: 3rem;
        margin-bottom: 4rem;
    }
    .pricing .table{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .pricing .basic{
        margin-bottom: 4rem;
    }

    .call-to-act{
        margin-bottom: 10rem;
    }
    .call-to-act .parallax{
        width: 90%;
    }
    .call-to-act .parallax h3{
        font-size: 4rem;
        line-height: 5.5rem;
    } 
    .call-to-act .parallax h6{
        font-size: 1.8rem;
        line-height: 3rem;
    } 
   
    .contact .form{
        width: 80%;
    }
    .contact h3{
        font-size: 4rem;
        line-height: 5.5rem;
    } 
    .contact h6{
        font-size: 1.8rem;
        line-height: 3rem;
    } 
    .contact .form{
        max-width: 80%;
    }
    .contact .form .hero-btn{
        font-size: 1.6rem;
    }
    

 
   
      .modal-content img {
        width: 30%;
        height: 25vh;
        align-self: center;
      }
    
      .modal .modal-content .form {
        width: 70%;
     
    }
    .modal-content .form .third-row div{
        height: 6rem;
    }
    
    .modal-content .form  h3{
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
}
@media only screen and (max-width: 541px){
   
    .top-nav{
        padding:0;
        height: 6rem;
    }
    .top-nav div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
      
   
    .top-nav span,
    .top-nav a,
    .top-nav i{
        font-size: 1.2rem;
       
    }
    .nav .logo img, footer .logo img {
        height: 70px;
    }
    .nav .menu-bar{
        top: 6rem;
    }

    .nav .navbar-social{
        margin-right: 6rem;
        top: 95vh;
        align-content: center;
       
    }
    .nav .navbar-social ul li a i{
        color:#1F2D4C;
    }

     .back{
        background-size: contain;
        height: 120vh;
        background-repeat: no-repeat;
    } 
  
    .hero-text{
        width: 80%;
        bottom: 0;
     }
   
    .hero-text h2{
        font-size: 3rem;
        line-height: 4rem;
    }
    .hero-text h6{
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .hero-text .hero-btn .main-btn{
        font-size: 1.6rem;
        line-height: 4rem;
        margin-top: 0.8rem;
    }
    .hero-text .hero-btn{
        margin-top: 3rem;
    }
    
    .wrapper{
        margin: 4rem 0;
        max-width: 400px;
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
        margin: 0;
        margin-top: 4rem;
        margin-bottom: 0;
    }
    .services .agency-name{
        color: #0A7AC9; 
        font-size: 5rem;
        line-height: 6rem;
        font-weight: 600;
    }
    .services > .service-content{
        display: flex;
        flex-direction: column;
            justify-content: center;
        align-items: center;
        /* margin: 6rem 0;
        padding: 2rem;
        margin-bottom: 5rem; */
        margin: 4rem 0;
        padding: 0;
        margin-bottom: 4rem;
        /* flex-wrap: wrap; */
        
    }
    .services .service-content .content-image{
        width: 100%;
        
    }
    .services .service-content .content-image img{
        width: 100%;
        height: 25vh;
        
    }
    .services .service-content .content-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        /* flex-wrap: wrap; */
    }
    .services .service-content .content-box .box-one{
        
        justify-content: flex-start;
        align-items: flex-start;
        
        padding: 2rem 1rem;
    }
   
    .services .service-content .content-box .box-one .service-item h4{
        color:#0A7AC9;
        margin-bottom: 1rem;
        font-size: 2.4rem;
        line-height: 3rem;
    }
    .services h3,
    .services .agency-name{
        font-size: 3rem;
        line-height: 4rem;
    }
   
    .services h6{
        font-size: 1.6rem;
        line-height: 3rem;
        margin-bottom: 4rem;
    }
    .servies p{
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .services .service-content .content-image img{
        height: 25vh;
        
    }

    .pricing .table{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pricing h3{
        font-size: 3rem;
        line-height: 4rem;
    }
    .pricing h6{
        font-size: 1.6rem;
        line-height: 3rem;
        margin-bottom: 4rem;
    }

    .call-to-act{
        margin-bottom: 8rem;
    }
    .call-to-act .parallax{
        width: 90%;
    }
    .call-to-act .parallax h3{
        font-size: 3rem;
        line-height: 4rem;
    } 
    .call-to-act .parallax h6{
        font-size: 1.6rem;
        line-height: 3rem;
    } 

    .contact .form{
        width: 90%;

    }
    .contact .form .description{
        padding: 1rem;
    }
    .contact .form h3{
        font-size: 3rem;
        line-height: 4rem;
    }
    .contact .form h4{
        font-size: 2rem;
        line-height: 3.5rem;
    }
    .contact .form .title+.description h4{
        margin-bottom: 2rem;
    }
    .contact .form h6{
        font-size: 1.6rem;
        line-height: 3rem;
        margin-top: 1.5rem 0;
    }
    .contact .form p,
    .contact .form .row label,
    .contact .form .row select,
    .contact .form .check-service label{
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    .contact .form .first-row,
    .contact .form .second-row,
    .contact .form .third-row,
    .contact .form .check-service{

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 2.4rem 0;
    }
    .contact .form .first-row{
        margin: 0;
    }
    .contact .form .first-row input,
    .contact .form .second-row input{
        width: 100%;
        margin-bottom: 2rem;
    }
    .contact .form .hero-btn{
        width: 10rem;
    }
    .contact .form .hero-btn a{
       
        border-radius: 2rem;
        padding: 0 3rem;
      
        font-size: 1.6rem;
       
    }

    .modal{
        height: 200vh;
    }
  
    .modal-content {
        background-color: #fff;
        max-width: 90%;
        margin: 1rem auto;
        display: flex;
         flex-direction: column; 
        justify-content: center;
        align-items: center;
        max-height: 200vh;   
        padding: 3rem 1rem;
        overflow-y: scroll;
        position: relative;
        
    }
      .modal-content img {
        width: 85%;
        height: 25vh;
      }
    
      .modal .modal-content .form {
        /* margin: 0 ;
        padding: 0; */
        width: 90%;
        height: 100%;
        box-shadow: 0 0.1rem 9.5rem 0.2rem rgba(5, 176, 178, 0.4);
      }
      .modal .form .title{
        text-align: center;
        padding: 2rem 0;
        
       
    }
    .modal .form .description{
        text-align: center;
    }
      .modal .modal-content .form .row,
      .modal-content .form .check-service{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 2.4rem 0; */
    }
    .modal-content .form .row div{
           width: 80%;
        height: 6rem; 
        margin: 1rem auto;
    }
    .modal .form .first-row div{
        margin-bottom: 0;
    }
    .modal .form .second-row div{
        padding-top: 0;
        margin-top:0;
    }
     .modal-content .form .third-row div{
        height: 8rem;
    } 
    .modal-content .form .row input,
    .modal-content .form  div select{
        height: 3rem; 
        border: 1px solid #cbced1;
        /* border-radius : 0.5rem; */
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        outline: none;
        width: 100%;
        margin-top: 1rem auto;
    }
    .modal-content .form  div select{
        margin-bottom: 2rem;
         height: 4rem; 
        padding-left: 0;
    }
    .modal-content .form  div label{
        width: 100%;
    }
    .modal-content .form  p{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .modal-content .form  div select option{
        font-size: 1.2rem;
  
    }
    .modal-content .form  h6{
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    .modal-content .form  h4{
        font-size: 1.6rem;
    }
    .modal-content .form  h3{
        font-size: 2rem;
        line-height: 2rem;
        color: white;
    }    
    .modal .form .hero-btn{
        width: 10rem;
    }
    .modal .form .hero-btn a{
        border-radius: 2rem;
        padding: 0 3rem;
        font-size: 1.6rem;
    }
    .modal-content .close{
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }
    
    
    footer p{
    font-size: 1.6rem;
    line-height: 1rem;
    }
    

    .contact .form .third-row div{
    
        margin-bottom: 2rem;
    
    }


    
}
@media only screen and (max-width: 400px){
    .wrapper{
        max-width: 360px;
    }
}