*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h2{
    font-size: 6rem;
    line-height: 7.5rem;
    color: #fff;
    font-weight: 600;
}
h3{
    font-size: 6rem;
    line-height: 7rem;
    font-weight: 600;
    color:#1F2D4C;
}
h4{
    font-size: 2.8rem;
    line-height: 4rem;
     color:#1F2D4C;
}
h6{
    font-size: 2.2rem;
    line-height: 3.2rem;
    color:#1F2D4C;
    margin-top: 1.6rem;
    font-weight: normal;
}
p{
    font-size: 1.8rem;
    line-height: 1.5;
    color: #1F2D4C;
}
.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    font-size: 1.6rem;
    padding: 0 2em;
    color:#1F2D4C;
    line-height: 4.8rem;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    z-index: 5;
}

/* ===================================== HEADER ===================== */

.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 1000;
}
.nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;
}
.nav .navbar-toggler .toggler-icon{
    width: 2.7rem;
    height: 0.3rem;
    background-color: #121212;
    margin: 0.5rem 0;
    position: relative;
    display: block;
    transition: all 0.3s ease-out 0s;
}
.nav .flex-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .logo img{
    height: 100px;
}
.nav .menu-bar .menu-items li{
    margin: 0 1.5rem;
}
.nav .menu-bar .menu-items li a{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
.nav .menu-bar .menu-items li a:hover{
    color: #19DDFF;
}
.nav .navbar-social span{
    font-size: 1.8rem;
    font-weight: 600;
    color: #19DDFF;
    padding-right: 1rem;
}
.nav .navbar-social ul li{
    margin: 0 0.7rem;
}
.nav .navbar-social ul li a{
    color: #19DDFF;
    font-size: 2.2rem;
}

/* =======================MAIN SECTION ============================== */
.back{
    background-image: url(images/8.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
    height: 120vh;
    width: 100%; 
}
.back .overlay{
    background: linear-gradient(90deg, rgba(0,8,9,0.9) 0%, rgba(0,0,0,0.75) 22%, rgba(0,21,24,0.8) 100%);
    height: 100%;
} 
.back .hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.back .hero-shape img{
    display: block;
    width: 100%;
}
.hero-text{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-text h6{
    color: #0AC9B2;
}
.hero-text .hero-btn{
    margin-top: 2.2rem;
}
.hero-text .hero-btn li{
    display: inline-block;
    margin: 1rem 1rem 0 0;

}
.hero-text .hero-btn li a.main-btn{
    border-radius: 5rem;
    overflow: hidden;
    border:0;
    line-height: 5rem;
    background-color: #fff;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0,0.3);
}
.hero-text .hero-btn .btn-one:hover{
    background: transparent;
    color: #0AC9B2;
    outline: 1px solid #0AC9B2;
    box-shadow: 0 0.3rem 2.5rem 0 rgba(0,0,0,0,0.6);
}
/* .hero-text .hero-btn .btn-two{
    color: #000;
}  */
.hero-text .hero-btn .btn-two::before{
    position:absolute;
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-image: linear-gradient(to right,#0AC9B2, #0097B2);z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;

}
.hero-text .hero-btn .btn-two:hover::before{
    background-image: linear-gradient(to left, #0AC9B2, #0097B2);
    background-position: left center;
}

/* =======================SEERVICES SECTION========================== */
.wrapper{
    margin: 7rem 10rem 14rem 10rem;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 7rem;
}
.services > .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 7rem;
    padding: 3rem;
    
}
.services .service-content .content-image{
    width: 40%;
    
}
.services .service-content .content-image img{
    width: 100%;
    height: 40vh;
    
}
.services .service-content .content-box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.services .service-content .content-box .box-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}
.services .service-content .content-box .box-one .service-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3.2rem;
    box-shadow: 0 1.5rem 3rem 1.5rem #1F2D4C;
}
.services .service-content .content-box .box-one .service-item i{
    color: #3F5B99;
    font-size: 4.8rem;
    margin-bottom: 1rem;
}
.services .service-content .content-box .box-one .service-item h4{
    color: #3F5B99;
}
.services .service-content .content-box .box-one .service-item .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}